.carousel {
  height: 50vh;
}
.title_carousel h2 {
  font-size: 3.125rem;
  font-weight: 600;
}
.title_carousel p {
  font-size: 1.25rem !important;
  color: #fff;
  opacity: 0.7;
}
.banner_404 {
  object-position: top;
}
.img_404page {
  padding-right: 100px;
}
.img_404page img {
  width: 80%;
}
.error404_page {
  padding: 100px 0;
}

.title_404page h1 {
  font-size: 7.5rem;
  color: #009f4d;
  font-weight: 700;
}
.title_404page h2 {
  font-size: 26px;
  font-weight: 600;
  text-transform: capitalize;
  line-height: 36px;
  margin: 16px 0 18px 0;
  color: #3f3a64;
}
.title_404page p {
  font-size: 1.1rem;
  line-height: 27px;
  color: #666;
  opacity: 0.8;
}

.form_404page input {
  width: 60%;
  padding: 15px;
  border-radius: 5px 0 0 5px;
  outline: none;
}
.form_404page .form-control:focus {
  box-shadow: none !important;
}
.form_404page button {
  padding: 15px 30px;
  background: #009f4d;
  color: #fff;
  border: none;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  transition: all 0.3s;
}
.form_404page button:hover {
  background: #009f4d;
  color: #fff;
}
.back_to_home {
  color: #3f3a64;
  font-size: 1.125rem;
  font-weight: 600;
  transition: all 0.3s;
}
.back_to_home:hover {
  color: #009f4d;
}
@media screen and (max-width: 200px) {
  .title_carousel h2 {
    font-size: 2.5rem;
  }
  .title_carousel p {
    font-size: 1rem !important;
  }
  .title_404gage h1 {
    font-size: 4rem;
  }
  .title_404gage h2 {
    font-size: 1rem;
  }
  .title_404page p {
    font-size: 1rem;
  }
  .form_404page input {
    width: 100%;
  }
  .form_404page button {
    padding: 15px 20px;
  }
}
