* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: #333;
}
ul {
  list-style: none;
}
body {
  font-family: "Jost", sans-serif;
}

.banner_item {
  background-image: url(./../img/b1.jpg);
  height: 60vh;
  width: 100%;
  object-fit: cover;
}
.banner_item::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(29, 42, 55, 0.7);
  z-index: 1;
}
.banner_text {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
}
.banner_text h2 {
  font-size: 2.8rem;
  font-weight: 700;
}
.banner_text p {
  opacity: 0.7;
  font-size: 1.1rem;
}

/* PRODUCT CSS  */

.product {
  background-color: #f7f7f7;
}
.product_title p {
  font-size: 0.8rem;
  font-weight: 600;
  color: #7e7d7d;
  line-height: 1rem;
}
.product_title h3 {
  font-size: 2rem;
  font-weight: 700;
  line-height: 2.5rem;
  color: #3f3a64;
}
.product_item {
  padding: 2.5rem;
  background-color: white;
  height: 100%;
}
.product_item h3 {
  font-size: 1.6rem;
  font-weight: 650;
  line-height: 2rem;
  color: #3f3a64;
  margin-top: 1rem;
  margin-bottom: 1.7rem;
}
.product_item p {
  font-size: 1rem;
  color: #666;
  opacity: 0.8;
  line-height: 1.8rem;
}
.product_item button {
  color: white;
  background-color: #00a63f;
  border: 1px solid #00a63f;
}

/* SOLUTION CSS */

.solution_title p {
  font-size: 0.85rem;
  font-weight: 650;
  color: #7e7d7d;
  line-height: 1rem;
}
.solution_title h3 {
  font-size: 2rem;
  font-weight: 700;
  line-height: 2.5rem;
  color: #3f3a64;
}
.solution_item {
  display: grid;
  grid-template-columns: auto 1fr;
}
.solution_item i {
  color: #009f4d;
}
.solution_item h5 {
  font-size: 1.5rem;
  font-weight: 700;
}
.solution_item span {
  color: #666;
  opacity: 0.8;
  font-size: 1rem;
  line-height: 1.5rem;
}

/* PROJECT CSS  */

.project_content::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(29, 42, 55, 0.7);
  z-index: 1;
}

.project_form {
  top: 20%;
  left: 12%;
  right: 12%;
  z-index: 2;
}
.project_form span {
  font-size: 0.8rem;
  font-weight: 600;
  line-height: 1.8rem;
  opacity: 0.9;
}
.project_form h2 {
  font-size: 2.2rem;
  font-weight: 600;
  line-height: 2.5rem;
  margin-bottom: 3rem;
  color: white;
}
.form_item {
  display: grid;
  grid-template-columns: auto 1fr;
  border-bottom: 1px solid rgba(255, 255, 255, 0.408);
}
.form_item:last-child {
  border-bottom: unset;
}
.form_item i {
  font-size: 2.8rem;
  padding: 0.5rem;
}
.form_text p {
  font-size: 1rem;
  opacity: 0.8;
}
.form_group h3 {
  color: #3f3a64;
  font-weight: 600;
}
.form_group p {
  opacity: 0.9;
  color: #858585;
  font-size: 1rem;
  line-height: 1.6rem;
}
.form_group textarea {
  padding: 1.5rem;
}
.form_group button {
  color: white;
  background-color: #00a63f;
  border: 1px solid #00a63f;
}

/* BUILD CSS  */
.build {
  background-color: #f7f7f7;
}
.build_title p {
  font-size: 0.85rem;
  font-weight: 650;
  color: #7e7d7d;
  line-height: 1rem;
}
.build_title h3 {
  font-size: 2rem;
  font-weight: 700;
  line-height: 2.5rem;
  color: #3f3a64;
}
.build_content .build_item {
  padding: 35px 30px;
  box-shadow: rgba(1, 1, 1, 0.05) 1px 1px 5px 0px;
  transition: all 0.3s;
}
.build_content .build_item:hover {
  transform: translateY(-6px);
  box-shadow:
    rgba(46, 41, 51, 0.08) 0px 2px 4px,
    rgba(71, 63, 79, 0.16) 0px 5px 10px;
}

.build_content .build_item h5 {
  font-size: 1.5rem;
  line-height: 30px;
  margin-top: 20px;
  font-weight: 600;
  text-decoration: none;
  color: #3f3a64;
  transition: all 0.5s;
}
.build_content .build_item h5:hover {
  color: #00a63f;
  cursor: pointer;
}

.build_item p {
  color: #858585;
  opacity: 0.9;
  line-height: 30px;
}

/* back to top  */
body .cd-top--is-visible {
  visibility: visible;
  opacity: 1;
}
.back_to_top {
  position: fixed;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  right: 20px;
  bottom: 20px;
  font-size: 15px;
  line-height: 50px;
  background-color: #009f4d;
  color: white;
  opacity: 0;
}

/* .cd-top--fade-out {
  opacity: 0.5;
} */
