* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  /* html{
    scroll-behavior: smooth;
  } */
  a {
    text-decoration: none;
    color: #333;
  }
  ul {
    list-style: none;
  }
body{
    font-family: "Jost", sans-serif;
}
/* css header */
header {
    height: 100px;
    border-bottom: 1px solid rgba(231, 231, 231, 0.18);
  
    align-items: center;
    text-align: center;
    position: absolute;
    width: 100%;
    z-index: 9999;
  }
  header.navbarjs {
    position: fixed;
    top: 0;
    font-weight: 600;
    width: 100%;
    background-color: transparent;
    color: white;
    padding: 5px;
    transition: all 0.5s;
  }
  nav {
    justify-content: center;
    align-items: center;
    font-weight: 600;
  }
  
  /* logo  */
  .logo_header a {
    color: #ffffff;
    font-size: 1.875rem;
  }
  .logo_header .fa-align-right,
  .logo_footer .fa-align-right {
    color: green;
  }
  .logo_header a span:last-child {
    font-size: 0.875rem;
    display: block;
    text-align: end;
  }
  
  /* menu */
  nav ul {
    display: flex;
    align-items: center;
    margin: 0;
  }
  nav ul li {
    margin-right: 30px;
    text-transform: uppercase;
  }
  nav ul li a.nav-link {
    color: #ffffff;
    font-size: 1rem !important;
    font-weight: 600;
    opacity: 0.7;
    text-transform: uppercase;
  }
  .navbar-expand-lg .navbar-collapse {
    justify-content: flex-end;
  }
  /* scroll nav */
  header.navbarjs.scrolled {
    background-color: #ffffff; /* Màu nền mới khi cuộn */
  }
  header.navbarjs.scrolled .logo_header a,
  header.navbarjs.scrolled .menu_header .nav-item a,
  header.navbarjs.scrolled .search_header .gg-moon {
    color: #3f3a64;
  }
  
  nav .nav-item a.active,
  .nav-link.show,
  .nav-link:hover {
    color: white;
    opacity: 1;
  }
  .navbar-nav .nav-link.active {
    color: white;
    opacity: 1;
  }
  nav .nav-item a,
  .nav-link:focus {
    color: white;
    opacity: 0.7;
    font-size: 1rem !important;
  }
  nav .nav-item:hover a {
    color: white;
  }
  
  .bg-secondary {
    background-color: transparent !important;
  }
  nav ul li a:hover {
    color: white;
    opacity: 1;
  }
  
  /* drop menu */
  .navbar-nav .nav-link.active,
  .navbar-nav .nav-link.show {
    /*reset css cho dropdown menu*/
    color: #ffffff;
  }
  .dropdown-menu {
    --bs-dropdown-link-active-bg: none; /*reset css cho dropdown menu khi click*/
  }
  .nav_drop_menu {
    bottom: 0;
    width: 100%;
    height: 100px;
  }
  .nav_drop_menu li {
    width: 100%;
  }
  .nav_drop_menu a {
    color: #3f3a64 !important;
    font-size: 1rem;
    font-weight: 600;
    opacity: 0.7;
    text-transform: uppercase;
  }
  
  /* css search header */
  .search_header {
    display: flex;
    align-items: center;
    font-weight: bold;
    justify-content: flex-end;
  }
  
  .search_header a {
    /* display: flex; */
    width: 50px;
    height: 50px;
    line-height: 50px;
    border-radius: 50%;
    background-color: #009f4d;
  }
  .search_header a:last-child {
    background-color: transparent;
    display: flex;
  }
  .search_header .svg-inline--fa,
  .search_header i {
    margin: auto;
    color: white;
  }
.banner_item{
    background-image: url(./../img/b1.jpg);
    height: 60vh;
    width: 100%;
    object-fit: cover;
}
.banner_item::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(29,42,55,0.7);
    z-index: 1;
}
.banner_text{
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 2;
}
.banner_text h2{
    font-size: 2.8rem;
    font-weight: 700;
}
.banner_text p{
    opacity: 0.7;
    font-size: 1.1rem;
}

/* PRODUCT CSS  */

.product{
    background-color: #F7F7F7;
}
.product_title p{
    font-size: 0.8rem;
    font-weight: 600;
    color: #7e7d7d;
    line-height: 1rem;
}
.product_title h3{
    font-size: 2rem;
    font-weight: 700;
    line-height: 2.5rem;
    color: #3F3A64;
}
.product_item{
    padding: 2.5rem;
    background-color: white;
    height: 100%;
}
.product_item h3{
    font-size: 1.6rem;
    font-weight: 650;
    line-height: 2rem;
    color: #3F3A64;
    margin-top: 1rem;
    margin-bottom: 1.7rem;
}
.product_item p{
    font-size: 1rem;
    color: #666;
    opacity: 0.8;
    line-height: 1.8rem;
}
.product_item button{
    color: white;
    background-color: #00a63f;
    border: 1px solid #00a63f
}

/* SOLUTION CSS */

.solution_title p{
    font-size: 0.85rem;
    font-weight: 650;
    color: #7e7d7d;
    line-height: 1rem;
}
.solution_title h3{
    font-size: 2rem;
    font-weight: 700;
    line-height: 2.5rem;
    color: #3F3A64;
}
.solution_item{
    display: grid;
    grid-template-columns: auto 1fr;
}
.solution_item i{
    color: #009f4d;
}
.solution_item h5{
    font-size: 1.5rem;
    font-weight: 700;
}
.solution_item span{
    color: #666;
    opacity: 0.8;
    font-size: 1rem;
    line-height: 1.5rem;
}

/* PROJECT CSS  */

.project_content::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(29,42,55,0.7);
    z-index: 1;
}

.project_form{
    top: 20%;
    left: 12%;
    right: 12%;
    z-index: 2;
}
.project_form span{
    font-size: 0.8rem;
    font-weight: 600;
    line-height: 1.8rem;
    opacity: 0.9;
}
.project_form h2{
    font-size: 2.2rem;
    font-weight: 600;
    line-height: 2.5rem;
    margin-bottom: 3rem;
}
.form_item{
    display: grid;
    grid-template-columns: auto 1fr;
    border-bottom: 1px solid rgba(255, 255, 255, 0.408);
}
.form_item:last-child{
    border-bottom: unset;
}
.form_item i{
    font-size: 2.8rem;
    padding: 0.5rem;
}
.form_text p{
    font-size: 1rem;
    opacity: 0.8;
}
.form_group h3{
    color: #3F3A64;
    font-weight: 600;
}
.form_group p{
    opacity: 0.9;
    color: #858585;
    font-size: 1rem;
    line-height: 1.6rem;
}
.form_group textarea{
    padding: 1.5rem;
}
.form_group button{
    color: white;
    background-color: #00a63f;
    border: 1px solid #00a63f;
}

/* BUILD CSS  */
.build{
    background-color: #F7F7F7;
}
.build_title p{
    font-size: 0.85rem;
    font-weight: 650;
    color: #7e7d7d;
    line-height: 1rem;
}
.build_title h3{
    font-size: 2rem;
    font-weight: 700;
    line-height: 2.5rem;
    color: #3F3A64;
}
.build_content .build_item{
    padding: 35px 30px;
    box-shadow: rgba(1, 1, 1, 0.05) 1px 1px 5px 0px;
    transition: all 0.3s;
}
.build_content .build_item:hover{
    transform: translateY(-6px);
    box-shadow: rgba(46, 41, 51, 0.08) 0px 2px 4px, rgba(71, 63, 79, 0.16) 0px 5px 10px;
}

.build_content .build_item h5 {
    font-size: 1.5rem;
    line-height: 30px;
    margin-top: 20px;
    font-weight: 600;
    text-decoration: none;
    color: #3F3A64;
    transition: all 0.5s;
}
.build_content .build_item h5:hover{
    color: #00a63f;
    cursor: pointer;
}

.build_item p{
    color: #858585;
    opacity: 0.9;
    line-height: 30px;
}
/* css footer */
footer {
    background-color: #151421;
  }
  .logo_footer {
    color: white;
    font-size: 1.875rem;
    font-weight: 600;
  }
  .logo_footer span:last-child {
    font-size: 0.875rem;
  }
  .title_footer h5 {
    color: white;
    font-size: 1.375rem;
    margin-bottom: 20px;
  }
  @media screen and (max-width: 300px) {
    .title_footer .text li a {
      font-size: 0.85rem;
    }
    .item_footer .text,
    .item_footer .text a,
    .text li {
      font-size: 0.875rem;
    }
  }
  .item_footer .text,
  .item_footer .text a,
  .footer_bottom span {
    font-size: 1.1rem;
    color: #97a1a9;
  }
  
  .item_footer .text {
    padding-left: 0;
  }
  .item_footer .text a:hover {
    color: #ffffff;
  }
  .item_footer:not(:first-child) .text li {
    margin-bottom: 10px;
  }
  .icon_social_footer a {
    color: #97a1a9;
    font-size: 0.975rem;
    margin-right: 15px;
  }
  .icon_social_footer a:hover {
    color: #ffffff;
  }
  
  /* footer bottom */
  .footer_bottom {
    background-color: #151421;
    padding: 20px 0;
    border-top: 1px solid rgba(231, 231, 231, 0.18);
  }
  .footer_bottom span a {
    color: #009f4d;
  }
  .footer_bottom span a:hover {
    color: #ffffff;
  }
  @media screen and (min-width: 1400px) and (max-width: 1920px) {
    .navbar-expand-lg .navbar-collapse {
      justify-content: flex-end;
    }
    .search_header {
      justify-items: flex-end !important;
      align-items: center !important;
    }
    .carousel {
      position: relative;
      height: 100vh;
    }
  }
  @media screen and (max-width: 1140px) {
    .title_carousel {
      top: 150px;
    }
  
    .navbar-expand-lg .navbar-collapse {
      justify-content: flex-end;
      /* background-color: rgba(29, 42, 55, 0.7); */
    }
  
    .search_header {
      justify-items: flex-end !important;
      align-items: center !important;
    }
  
    .carousel {
      position: relative;
      height: 70vh;
    }
    .cta_carousel {
      top: 160px;
      left: 0;
    }
  
    .title_carousel h1 {
      font-size: 2rem;
      line-height: 1.1;
      font-weight: 600;
      margin-bottom: 10px;
    }
  
    .title_carousel p {
      font-size: 1rem;
      line-height: 16px;
    }
  
    .carousel-control-prev,
    .carousel-control-next {
      width: 20px;
      height: 20px;
    }
  
    .button_carousel .fa-arrow-left,
    .button_carousel .fa-arrow-right {
      font-size: 0.75rem;
    }
  
    .button_carousel {
      bottom: 30px;
      right: 30px;
      z-index: 2;
    }
  
    .fixed-top {
      width: 100% !important;
      left: 0;
    }
  }
  @media screen and (max-width: 991px) {
    .search_header {
      display: none;
    }
    .bg-secondary {
      margin-top: 10px;
      background-color: rgba(0, 0, 0, 0.8) !important;
      box-shadow: 0 0 15px rgba(0, 0, 0, 0.12);
    }
    .bg-secondary .navbar-nav .nav-item a {
      color: white;
    }
    header.navbarjs.scrolled .bg-secondary {
      background-color: #ffffff !important;
      border: 1px solid #ddd;
      border-top: none;
    }
  
    .nav_drop_menu {
      position: relative !important;
    }
  }
  
/* back to top  */
body .cd-top--is-visible {
  visibility: visible;
  opacity: 1;
}
.back_to_top {
  position: fixed;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  right: 20px;
  bottom: 20px;
  font-size: 15px;
  background-color: #009f4d;
  color: white;
  opacity: 0;
}

/* .cd-top--fade-out {
  opacity: 0.5;
} */
  